<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="footer__name">
                    AntilopaGnu©<br><i class="fas fa-envelope-open"></i>
                    <a class="footer__link" href="mailto:partshop123@mail.ru">partshop123@mail.com</a>
                </div>
            </div>
            <div class="col-4">
                <p class="footer__social">Social Networks:</p>
                <p class="footer__social-icons">
                    <a href="https://vk.com/vlad_radion" target="_blank">
                        <i class="fab fa-vk" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
            <div class="col-4">
                <p class="footer__social">Links:</p>
            </div>
        </div>
        </div>
</div>

</html>