<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragment/head::head(AntilopaGnu)">
</head>
<body>
<div th:insert="fragment/menu :: topmenu">
</div>
<h1>Create a Part:</h1>
<form th:action="@{/addPart}"
      th:object="${partForm}" method="POST">

    <div th:if="${#fields.hasErrors()}">
     <span class="validationError">
     Please correct the information.
     </span>
    </div>
    Category:
    <input type="text" th:field="*{category}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('category')}"
          th:errors="*{category}">
    </span>
    <br/>
    Brand:
    <input type="text" th:field="*{brand}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('brand')}"
          th:errors="*{brand}">
    </span>
    <br/>
    Model:
    <input type="text" th:field="*{model}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('model')}"
          th:errors="*{model}">
    </span>
    <br/>
    Price:
    <input type="number" th:field="*{price}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('price')}"
          th:errors="*{price}">
    </span>
    <br/>
    Stock:
    <input type="number" th:field="*{stock}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('stock')}"
          th:errors="*{stock}">
    </span>
    <br/>
    Photos:
    Realise Date:
    <input type="datetime-local" th:field="*{realiseDate}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('realiseDate')}"
          th:errors="*{realiseDate}">
    </span>
    <br/>
    Part Condition:
    <ul>
        <li th:each="pc : ${partCondition}">
            <input type="radio" th:field="*{condition}" th:value="${pc}"/>
            <label th:for="${#ids.prev('condition')}" th:text="#{${'partForm.condition.' + pc}}">Wireframe</label>
        </li>
    </ul>
    <span class="validationError"
          th:if="${#fields.hasErrors('condition')}"
          th:errors="*{condition}">
    </span>
    <br/>
    Description:
    <input type="text" th:field="*{description}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}">
    </span>
    <br/>
    <input type="submit" value="Create"/>
</form>
<br/>
<div th:insert="fragment/footer :: footer">
</div>
</body>
</html>
