<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Order</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|PT+Sans+Caption:400,700" rel="stylesheet">
</head>

<body>
<div class="topmenu" id="list">
    <ul>
        <a th:href="@{/index}">
            Antilopa GNU
        </a>
    </ul>
</div>
<form th:action="@{/confirmOrder}"
      th:object="${order}" method="POST">
    <dl>
        <dt>Name</dt>
        <dd><input class="non_editable_input" type="text" th:field="*{name}" th:utext="*{name}"/></dd>
        <dt>OrderTime</dt>
        <dd><input class="non_editable_input" type="date" th:field="*{orderTime}" th:value="*{orderTime}"/></dd>
        <dt>Delivery Date</dt>
        <dd><input class="non_editable_input" type="date" th:field="*{deliveryDate}" th:value="*{deliveryDate}"/></dd>

        <dt>TotalCost</dt>
        <dd><input class="non_editable_input" type="text" th:field="*{totalCost}" th:utext="*{totalCost}"/></dd>
        <dt>Order condition</dt>
        <dd><input class="non_editable_input" type="text" th:field="*{condition}" th:utext="*{condition}"/></dd>
        <dt>Date Of Completion</dt>
        <dd><input type="date" th:field="*{dateOfCompletion}" th:value="*{dateOfCompletion}"/></dd>
        <dt>Note</dt>
        <dd><input class="non_editable_input" type="text" th:field="*{note}" th:utext="*{note}"/></dd>
        <dt>Delivery Condition</dt>
        <dd><input class="non_editable_input" type="text" th:field="*{deliveryCondition}"
                   th:utext="*{deliveryCondition}"/></dd>
    </dl>
    <input type="submit" value="Confirm"/>
</form>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="footer__name">
                    AntilopaGnu©<br><i class="fas fa-envelope-open"></i>
                    <a class="footer__link" href="mailto:partshop123@mail.ru">partshop123@mail.com</a>
                </div>
            </div>
            <div class="col-4">
                <p class="footer__social">Social Networks:</p>
                <p class="footer__social-icons">
                    <a href="https://vk.com/vlad_radion" target="_blank">
                        <i class="fab fa-vk" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
            <div class="col-4">
                <p class="footer__social">Links:</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
