<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragment/head::head(AntilopaGnu)">
</head>
<body>
<div th:insert="fragment/menu :: topmenu">
</div>
<form th:action="@{/confirmOrder}"
      th:object="${order}" method="POST">
    <dl>
        <dt>Name</dt>
        <dd><input class="non_editable_input" type="text" th:field="*{name}" th:utext="*{name}"/></dd>
        <dt>OrderTime</dt>
        <dd><input class="non_editable_input" type="date" th:field="*{orderTime}" th:utext="*{orderTime}"
                   th:value="*{orderTime}"/></dd>
        <dt>Delivery Date</dt>
        <dd><input class="non_editable_input" type="date" th:field="*{deliveryDate}" th:value="*{deliveryDate}"
                   th:value="*{deliveryDate}"/></dd>

        <dt>TotalCost</dt>
        <dd><input class="non_editable_input" type="text" th:field="*{totalCost}" th:utext="*{totalCost}"/></dd>
        <dt>Order condition</dt>
        <dd><input class="non_editable_input" type="text" th:field="*{condition}" th:utext="*{condition}"/></dd>
        <dt>Date Of Completion</dt>
        <dd><input type="date" th:field="*{dateOfCompletion}" th:value="*{dateOfCompletion}"
                   th:value="*{dateOfCompletion}"/></dd>
        <dt>Note</dt>
        <dd><input class="non_editable_input" type="text" th:field="*{note}" th:utext="*{note}"/></dd>
        <dt>Delivery Condition</dt>
        <dd><input class="non_editable_input" type="text" th:field="*{deliveryCondition}"
                   th:utext="*{deliveryCondition}"/></dd>
    </dl>
    <input type="submit" value="Confirm"/>
</form>
<div th:insert="fragment/footer :: footer">
</div>
</body>
</html>
