<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragment/head::head(AntilopaGnu)">
</head>
<body>
<div th:insert="fragment/menu :: topmenu">
</div>

<h1>Edit Part:</h1>
<form th:action="@{/editPart}"
      th:object="${part}" method="POST">

    <div th:if="${#fields.hasErrors()}">
 <span class="validationError">
 Please correct the information.
 </span>
    </div>
    <input type="hidden" th:field="${part.id}"/>
    Category:
    <input type="text" th:field="*{category}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('category')}"
          th:errors="*{category}">
    </span>
    <br/>
    <input type="submit" value="Edit"/>
</form>
<br/>
<div th:insert="fragment/footer :: footer">
</div>
</body>
</html>
