<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragment/head::head(AntilopaGnu)">
</head>
<body>
<div th:insert="fragment/menu :: topmenu">
</div>
<h1>Welcome</h1>

<ul class="ul">
    <li>
        <a th:href="@{/parts}">Person List</a></li>
    <li>
        <a th:href="@{/addPart}">Add part</a></li>
    <li>
        <a th:href="@{/newOrder}">Add order</a></li>
    <li>
        <a th:href="@{/orders}">Order List</a></li>
</ul>
<div th:insert="fragment/footer :: footer">
</div>
</body>
</html>