<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragment/head::head(AntilopaGnu)">
</head>
<body>
<div th:insert="fragment/menu :: topmenu">
</div>
<h1>Create a Order:</h1>
<form th:action="@{/newOrder}"
      th:object="${orderDto}" method="POST">

    <div th:if="${#fields.hasErrors()}">
     <span class="validationError">
     Please correct the information.
     </span>
    </div>
    Name:
    <input type="text" th:field="*{name}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}">
    </span>
    <br/>
    Date Of Completion
    <input type="date" th:field="*{dateOfCompletion}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('dateOfCompletion')}"
          th:errors="*{dateOfCompletion}">
    </span>
    <br/>
    List parts:

    Delivery date
    <input type="date" th:field="*{deliveryDate}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('deliveryDate')}"
          th:errors="*{deliveryDate}">
    </span>
    Note
    <input type="text" th:field="*{note}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('note')}"
          th:errors="*{note}">
    </span>
    <br/>
    <input type="submit" value="Create"/>
    <table class="table">
        <tr>
            <th>Checkbox</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Condition</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>

    </table>
</form>
<br/>
<div th:insert="fragment/footer :: footer">
</div>
</body>
</html>
