<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragment/head::head(AntilopaGnu)">
</head>
<body>
<div th:insert="fragment/menu :: topmenu">
</div>
<h1>Order</h1>
<a th:href="@{/orders}">Orders</a>
<br/><br/>
<div class="card">
    <dl>
        <dt>ID</dt>
        <dd th:utext="${order.id}">...</dd>
        <dt>Name</dt>
        <dd th:utext="${order.name}">...</dd>
        <dt>OrderTime</dt>
        <dd th:utext="${order.orderTime}">...</dd>
        <dt>Delivery Date</dt>
        <dd th:utext="${order.deliveryDate}">...</dd>
        <dt>TotalCost</dt>
        <dd th:utext="${order.totalCost}">...</dd>
        <dt>Order condition</dt>
        <dd th:utext="${order.condition}">...</dd>
        <dt>Date Of Completion</dt>
        <dd th:utext="${order.dateOfCompletion}">...</dd>
        <dt>Note</dt>
        <dd th:utext="${order.note}">...</dd>
        <dt>Delivery Condition</dt>
        <dd th:utext="${order.deliveryCondition}">...</dd>
    </dl>
</div>
<div th:insert="fragment/footer :: footer">
</div>
</body>
</html>
