<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragment/head::head(AntilopaGnu)">
</head>
<body>
<div th:insert="fragment/menu :: topmenu">
</div>
<h1>Order List</h1>
<button th:href="@{/newOrder}">ADD Order</button>
<br>
<button th:href="@{/searchOrder}">Search</button>
<br/><br/>
<div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Order time</th>
            <th>Delivery date</th>
            <th>Number parts</th>
            <th>TotalCost</th>
            <th>User info</th>
            <th>Date of completion/th>
            <th>Note</th>
            <th>Order condition</th>
            <th>Delivery condition</th>
            <th>Action</th>
        </tr>

        <tr th:each="order : ${orders}">
            <td>
                <a th:href="@{'/order/'+${order.id}}" th:utext="${order.name}"></a>
            </td>
            <td th:utext="${order.orderTime}">...</td>
            <td th:utext="${order.deliveryDate}">...</td>
            <td th:utext="10">...</td>
            <td th:utext="${order.totalCost}">...</td>
            <td>
                <div class="card">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <!--                            <li class="list-group-item" th:utext="${order.user.firstName}"></li>-->
                            <!--                            <li class="list-group-item" th:utext="${order.user.lastName}"></li>-->
                            <li class="list-group-item" th:utext="firstName"></li>
                            <li class="list-group-item" th:utext="lastName"></li>
                        </ul>
                    </div>
                </div>
            </td>
            <td th:utext="${order.dateOfCompletion}">...</td>
            <td th:utext="${order.note}">...</td>
            <td th:utext="${order.condition}">...</td>
            <td th:utext="${order.deliveryCondition}">...</td>
            <td>
                <a th:href="@{'/editOrder/'+${order.id}}">Edit</a>
                <a th:href="@{'/annulOrder/'+${order.id}}">Annul</a>
                <a th:href="@{'/issueOrder/'+${order.id}}">Issue</a>
            </td>
        </tr>
    </table>
</div>
<div th:insert="fragment/footer :: footer">
</div>
</body>
</html>
