<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragment/head::head(AntilopaGnu)">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css}" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script th:src="@{/js/parttable.js}"></script>
</head>
<body>
<div th:insert="fragment/menu :: topmenu">
</div>
<h1>Part List</h1>
<a th:href="@{/addPart}">ADD PART</a>
<br/><br/>
<div>
    <table id="partTable" class="display">
        <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Realise Date</th>
            <th>Condition</th>
            <th>Description</th>
            <th>Action</th>
        </tr>

    </table>
</div>
<div th:insert="fragment/footer :: footer">
</div>

</body>
</html>
