<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragment/head::head(AntilopaGnu)">
</head>
<body>
<div th:insert="fragment/menu :: topmenu">
</div>
<h1>Part List</h1>
<a href="addPart">ADD PART</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Realise Date</th>
            <th>Condition</th>
            <th>Description</th>
            <th>Action</th>
        </tr>

        <tr th:each="part : ${parts}">
            <td><a th:href="@{'/part/'+${part.id}}" th:utext="${part.id}"></a></td>
            <td th:utext="${part.category}">...</td>
            <td th:utext="${part.brand}">...</td>
            <td th:utext="${part.model}">...</td>
            <td th:utext="${part.price}">...</td>
            <td th:utext="${part.stock}">...</td>
            <td th:utext="${part.realiseDate}">...</td>
            <td th:utext="${part.condition}">...</td>
            <td th:utext="${part.description}">...</td>
            <td>
                <a th:href="@{'/editPart/'+${part.id}}">Edit</a>
                <a th:href="@{'/deletePart/'+${part.id}}">Delete</a>

            </td>
        </tr>
    </table>
</div>
<div th:insert="fragment/footer :: footer">
</div>
</body>
</html>
